body{
    background-image: url(images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    margin: 0 auto;
    height: 450px;
    width: 380px;
    margin-top: 120px;
}
.card:hover{
    background-color: Lavender;
    color: black;
    box-shadow: 5px 5px 10px white;
    transition: 0.5s;
}
button{
    width: 140px !important;
}
button.a{
    color: white;
}
#signin{
    margin-left: 15px;
}